{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base_app/styles/password_reset.css' %}">
    <title></title>


    <style>
        @media screen and (max-width:784px) {
            .password-text h2{
                font-size: 1.5rem;
            }
        }
    
        @media screen and (max-width:484px) {
            .password-text h2{
                font-size: 1.2rem;
            }
    
            .login-link{
                font-size: 0.8rem;
            }
        }
    </style>
</head>
<body>
    <div class="logo">
            <a href="{% url 'home' %}">Pixe<span>L</span>ens</a>
        </div>

<main>

<div id="signin-page" class="card">

    <div class="password-text">
        <h2 style="padding: 2rem;">Password Reset Successful</h2>
    </div>
    

    <a class="login-link" href="{% url 'login' %}">Click here to go to Login Page</a>
    
     
    
    
        <div class="wave">
            <img src="{% static 'images/Path.png' %}" alt="">
        </div>
        <div class="wave">
            <img src="{% static 'images/Path 2.png' %}" alt="">
        </div>


</div>


</main>