{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base_app/styles/password_reset.css' %}">
    <title></title>
</head>
<body>
    <div class="logo">
            <a href="{% url 'home' %}">Pixe<span>L</span>ens</a>
        </div>

<main>

   
    <div id="signin-page" class="card">
        {% if not form %}

        <div class="password-text">
            <h2>Link Expired</h2>
            <p>The password reset link has expired. Please initiate the password reset process again.</p>
        </div>
        
        
        {% else %}
        <form id="signin-form" action="" method="POST">
            {% csrf_token %}
            <div class="signin-heading">
                <h2>Reset Password</h2>
            </div>
            
            {% for fm in form  %}
    
            <div class="signin-fields">
                <label for= "{{ fm.id_for_label }}">{{fm.label}}</label>
                {{fm}}
            </div>
    
            {% endfor %}
            
            <button class="sign-button" type="submit">Update Password</button>
        </form>
        
         
        
        
            <div class="wave">
                <img src="{% static 'images/Path.png' %}" alt="">
            </div>
            <div class="wave">
                <img src="{% static 'images/Path 2.png' %}" alt="">
            </div>
    
    
    </div>
{% endif %}    

</main>