@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}



::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.logo{
text-transform:uppercase;
letter-spacing:5px;
font-size:20px;
cursor: pointer;
}
.logo a{
color: #0c2037;
}

.logo span{
color: rgb(228, 21, 21);
}

nav{
  width: 100%;
  display: flex;
  height:   8vh;
  background: steelblue;
  align-items: center;
  justify-content: space-around;
  transition:all 1s ease-in-out ;
  z-index: 9999999;
}

.nav-links{
  display: flex;
}

.nav-links li{
  margin-left:1rem;
}

.nav-links li a{
  position: relative;
  color: aliceblue;
  margin-right: 1rem;
  transition: all 0.5s ease;
  padding-bottom: 8px;
}

.nav-links li a:hover,.dropdown-toggle:hover{
  color: #0c2d55;
}



.nav-links i{
  margin-right:0.2rem;
}

.dropdown-toggle{
  background: transparent;
  border: none;
  color: aliceblue;
  margin-right: 1rem;
  font-size: 0.98rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.search{
  background-color: aliceblue;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}
.search input{
  background: none;
  border: none;
  outline: none;
}

.dropdown {
position: relative;
display: inline-block;
padding-bottom: 8px;
}




.dropdown-toggle::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px;
background-color: #cccccc; 
transition: width 0.5s ease-in-out; 
}

.dropdown-toggle:hover::after{
width: 100%; 
}


.nav-links li a::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px;
background-color: #cccccc; 
transition: width 0.5s ease-in-out; 
}

.nav-links li a:hover::after {
width: 100%; 
}

.nav-profile{
width: 23px;
height: 23px;
border-radius: 50%;
margin-right: 0.5rem;
}

#nav-profile-link{
display: flex;
align-items: center;
justify-content: center;
}


.dropdown-menu {
position: absolute;
top: 140%;
left: -30%;
z-index: 1;
height: 0;
list-style-type: none;
padding: 0;
margin: 0;
background-color: #222222;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 10rem;
border-radius: 5px;
overflow: hidden;


}

.dropdown-menu li {
padding: 8px 12px;
}

.dropdown-menu li a{
  text-decoration: none;
  padding: 0.3rem;
  color: #c8caca;
}
.dropdown-menu li a:hover{
  color: #fff;
}

.dropdown.open .dropdown-menu {
display: block;
overflow: hidden;
}

@keyframes openheight{
from{
  height: 0;
}
to{
  height: 85px;
}
}
@keyframes closeheight{
from{
  height: 85px;
}
to{
  height: 0;
}
}

.notif-link{
position: relative;
}

.notif-count{
position: absolute;
top: -7px;
left: 5px;
display: flex;
align-items: center;
justify-content: center;
background: #e2336b;
border-radius: 50%;
padding-inline: 0.4rem;
font-size: 0.6rem;
color: white;
}

.burger{
display:none;
cursor: pointer;
}

.burger div{
width:25px;
height:3px;
background:#fff;
margin:5px;
transition: all 0.3s ease;
}


@media screen and (max-width:552px){
.search{
  width: 200px;
  display: flex;
  padding: 0.1rem 0.2rem;
}

.search i{
  margin-right: 1.5rem;
}
}

@media screen and (max-width:1088px){
body{
  overflow-x: hidden;
}
.nav-links{
position: absolute;
right: 0;
height: 92vh;
top: 8vh ;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 50%;
transform: translateX(100%);
transition: transform 0.5s ease-in;
background-color: steelblue;
z-index: 99;
overflow: hidden;
}


.dropdown-menu{
top:80%;
}


.nav-links li{
  opacity: 0;
}


.burger{
  display: block;
  
}
}



.nav-active{
transform: translateX(0%);
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinksfade{
from{
  opacity: 0;
  transform:translateX(50px) ;
}
to{
  opacity: 1;
  transform: translateX(0px);
}
}


@media screen and (max-width:484px){
  .logo{
    font-size: 10px;
    letter-spacing: 2px;
  }

}



