*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main{
    /* width: 100vw; */
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    position: absolute;
    top:2%;
    left: 2%;
  }
  
  .logo a{
    color: #0c2037;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .logo span{
    color: rgb(228, 21, 21);
  }




      .signin-container{
        /* background:linear-gradient(to right,#7FA4EA,#348CF4); */
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #signin-page,#register-card{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: aliceblue;
        padding: 2rem;
        height:80vh;
        width: 80vw;
        border-radius: 2rem;
        box-shadow: 0 0 50px 10px #d2e4fa;
        overflow: hidden;
    }
    
    
    
    #signin-form{
        display: flex;
        flex-direction: column;
        z-index: 999;
    }
    
    .signin-heading{
        padding: 2rem;
        color: #28335C;
        margin-bottom: 2rem;
    }
    
    .signin-heading h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    
    .signin-fields{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    
    
    .signin-fields input,.sign-button{
        padding: 0.8rem 1rem;
        border: none;
        border-radius: 5px;
    }
    
    .signin-fields input{
        border:1px solid #28335c2d;
    }
    
    .signin-fields label{
        margin-bottom: 0.5rem;
        font-weight: 800;
        color: #28335C;
    }
    
    #signin-page span{
        margin-top: 1rem;
    }
    
    .signin-link,.signup-link{
        background: none;
        border: none;
        color: #348CF4;
        margin-left:0.5rem ;
        cursor: pointer;
    }
    
    
    .sign-button{
        margin-top: 1rem;
        color: aliceblue;
        background: gray;
        cursor: pointer;
        transition:all 0.5s ease;
    
    }
    
    .sign-button:hover{
        background: rgb(94, 94, 94);
    }
    
    .wave{
        position: absolute;
        bottom: -3rem;
        width: 135%;
        pointer-events: none;
    }
    
    .wave img{
        width: 100%;
    }

    .password-text{
        display: flex;
        flex-direction:column ;
        align-items: center;
    }
    .password-text p{
        padding-block: 2rem;
    }

    .password-text h2{
        font-size: 2.5rem;
        color: #484848;
    }


    .login-link{
        color: #000000;
        font-size: 1rem;
        padding: 0.4rem .5rem;
        background-color: #96bef3;
        border-radius: 5px;
        transition: background-color 0.5s ease;
    }

    .login-link:hover{
        background-color: #3984e7;
    }
/* passowrd reset page 1 */

/* passowrd reset page 2 */

/* passowrd reset page 3 */


/* passowrd reset page 4 */
